.counter {
  text-align: center;
  padding-top: 25%;
  flex-direction: row;
}
.counter p{
  font-size: 25px;
  margin:5px;

}
.counter .button-1{
  margin-right: 10px;
}
.counter .button-2{
  margin-left: 10px;
}
